
html
	head
		title Logowanie do Google
	body
		h2 Uzupełnij dane do logowania
		form
			|  Adres email:
			input(placeholder='adam@kowalski.pl', required='', type='text')
			|  Hasło:
			input(placeholder='xxxxxx', required='', type='password')
			input(type='submit', value='Zaloguj')